:root {
    --back: #300020;
    --fore: #FFE9F9;
}

body {
    background-color: var(--back);
    color:var(--fore);
    padding: 0px;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    background-color: var(--back);
    color:var(--fore);
    position: fixed;
    top: 0;
    width: 100%;
}

.about {
    background-color: var(--back);
    color:var(--fore);
    padding: 20px;
}

.portfolio {
    background-color: var(--back);
    color:var(--fore);
    padding: 5px;
    margin: 30px;
}

.contact {
    background-color: var(--back);
    color:var(--fore);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.centered {
    text-align: center;
}

.social img {
    max-width: 32px;
}